In [1]:
integer_value = 12
float_value = 13.48
string_value = "Divya Parameswaran"
print(integer_value)
print(type(integer_value))
print(float_value)
print(type(float_value))
print(string_value)
print(type(string_value))

12
<class 'int'>
13.48
<class 'float'>
Divya Parameswaran
<class 'str'>

In [2]:
#typecasting
str_value = "23"
print(str_value)
print(type(str_value))
new_str_value=int(str_value)
print(str_value)
print(type(str_value))

23
<class 'str'>
23
<class 'str'>

In [3]:
#lists
list_array=[1,2,3,4,5]
print(list_array)
print(list_array[2])
list_array.append(6)
print(list_array)

[1, 2, 3, 4, 5]
3
[1, 2, 3, 4, 5, 6]

In [5]:
#forloop
list_array=["Amanda","Jhon","Jane","Lila"]
for i in list_array:
    print(i)
list_array.append("Divya Parameswaran")
print(len(list_array))
print(list_array)

Amanda
Jhon
Jane
Lila
5
['Amanda', 'Jhon', 'Jane', 'Lila', 'Divya Parameswaran']

In [10]:
#Comments
#Taking the example of forloop for the explanation of the comments concept
#the first step is creating the creation of a list with 4 indexes
list_array=["Amanda","Jhon","Jane","Lila"]
#Now using a for loop to print each index
for i in list_array:
    print(i)
#adding one more item to the list using the append function and printing the length of the list
list_array.append("Divya Parameswaran")
print(len(list_array))

Amanda
Jhon
Jane
Lila
5

In [16]:
#dictionaries
dictionary = { "Divya":"123","Jhon":"456","Lila":"789"}
print(dictionary)
print(dictionary.keys())
print(dictionary.values())
print(dictionary.items())
dictionary.update({"Amanda":"111"})
print(dictionary["Amanda"])
print(dictionary)
for i in dictionary:
    print(dictionary[i])

{'Divya': '123', 'Jhon': '456', 'Lila': '789'}
dict_keys(['Divya', 'Jhon', 'Lila'])
dict_values(['123', '456', '789'])
dict_items([('Divya', '123'), ('Jhon', '456'), ('Lila', '789')])
111
{'Divya': '123', 'Jhon': '456', 'Lila': '789', 'Amanda': '111'}
123
456
789
111

In [38]:
#file_handling 
file_handling = open("C:/Users/divya/Downloads/names.txt","r")
for i in file_handling:
    print(i)

John	25

Madison	42

Steve	17

Alexa	58

Jeff	30

In [40]:
#extracting rows and attributes from a file
file_handling = open("C:/Users/divya/Downloads/names.txt", "r")
age = []
for i in file_handling:
    lines = i.split("\t")
    age.append(int(lines[1]))
print(age)

[25, 42, 17, 58, 30]

In [42]:
import pandas as pd
data_frame=pd.read_table("C:/Users/divya/Downloads/names (1).txt",header=None)
print(data_frame)
age_max=data_frame[1].max()
age_min=data_frame[1].min()
print(age_max)
print(age_min)
print(data_frame.loc[[2,3]])

         0   1
0     John  25
1  Madison  42
2    Steve  17
3    Alexa  58
4     Jeff  30
58
17
       0   1
2  Steve  17
3  Alexa  58

In [56]:

in_file=open("C:/Users/divya/Downloads/adult (1).data","r")
out_file=open("data.ed.data","w")
for i in in_file:
    line=i.split(",")
    edu=line[3]
    print(edu)
    out_file.write(edu)
    out_file.write("\n")
out_file.close()
out_file=open("data.ed.data","r")
print(out_file.read())

In [59]:
import pandas as pd
df = pd.read_csv("C:/Users/divya/Downloads/adult (2).data",header=None)
education = df[3].value_counts()
income = df[14].value_counts()
stat1 = df[5].value_counts()
stat2 = df[7].value_counts()
print('Number of people have a “Bachelors” degree,“HS-“grad",etc...') 
print(education) 
print('Number of people make "more than or equal to 50k", "less than “50k"') 
print(income) 
print('Number of people are "Married-civ-spouse","Never-“married","Divorced",etc....') 
print(stat1) 
print('Number of people are "husbands","Own-“Child","Unmarried",etc....') 
print(stat2)

Number of people have a “Bachelors” degree,“HS-“grad",etc...
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: 3, dtype: int64
Number of people make "more than or equal to 50k", "less than “50k"
 <=50K    24720
 >50K      7841
Name: 14, dtype: int64
Number of people are "Married-civ-spouse","Never-“married","Divorced",etc....
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: 5, dtype: int64
Number of people are "husbands","Own-“Child","Unmarried",etc....
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: 7, dtype: int64